* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    position: relative;
    margin-top: 120px;
}


.logo a {
    font-size: 2.3em;
    text-align: center;
    float: left;
    font-family: Courier;
    color: #7895B2;
}

nav {
    width: 100%;
    margin: auto;
    /* background: red; */
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    background: #E8DFCA;
    z-index: 1;
    border-bottom: 1px solid #FDEBF7;
}
.n-wrapper{
    width: 98%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    max-height: 120px;
}

@media screen and (min-width: 900px) {
    .n-wrapper{
        flex-direction: row;
        justify-content: space-between;
    }
}
.menu{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.menu a{
    color: #25316D;
    font-weight: bold;
    font-size: 1.2em;
}
.menu a:hover{
    text-decoration: underline #25316D;
}

section {
    margin: auto;
    display: flex;
}

#home{
    padding: 0px 10px;
    display: flex;
    flex-direction: column-reverse ;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
}
#home img{
    width: 90%;
    height: auto;
}
@media screen and (min-width:800px) {
    #home{
        flex-direction: row;
        justify-content: space-between;
    }
    #home img{
        width: 80%;
    }
    .kolom{
        align-self: start;
    }
}
.kolom {
    margin-bottom: 50px;
    width: 90%;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #495371;

}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    color: #495371;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #398AB9;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #E8DFCA;
    text-decoration: none;
}

a.tbl-pink {
    background: #E8DFCA;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #398AB9;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

#member{
    width: 100%;
}
.tengah {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.kartu-tutor {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
}

.kartu-tutor img {
    width: 80%;
    border-radius: 50%;
}

.kartu-tutor p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #495371;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.kartu-partner {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
}

.kartu-partner img {
    width: 80%;
    border-radius: 50%;
}

.kartu-partner p {
    text-align: center;

}
#contact {
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

.footer-section a {
    color: #25316D;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #495371;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 10px 0px;
}

#tes {
    margin-top: 0px;
}

.flexinline{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

@media screen and (max-width: 440px){
    .menu a{
        font-size: .8em;
    }
    .logo a{
        font-size: 2em;
    }
}

@media screen and (max-width: 360px) {
    .footer{
        flex-direction: column;
    }
    .footer-section {
        width: 80%;
    }
}